html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(251,250,244);
}
body {
    box-sizing: border-box;
    margin: 0 0;
}
.hidden {
    visibility: hidden;
}
#search-page {
    width: 90%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
}
#search-page header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 50px;
    width: 100%;
}
#search-page h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(255, 120, 120);
}
form legend {
    color: rgb(0, 101, 200);
    margin-bottom: 40px;
    width: 90%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}
form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    text-align: center;
}
form input {
    font-size: 18px;
}
input[type="text"], textarea {
    background-color : rgb(251,250,244); 
  }
.search-bar {
    padding-left: 2px;
}
.search-bar {
    border: 2px solid rgb(20, 176, 141);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3px;
    width: 90%;
    max-width: 500px;
}
#search-button {
    text-align: center;
    border: 2px solid rgb(20, 176, 141);
    background-color: rgb(20, 176, 141);
    color: white;
    width: 90%;
    max-width: 250px;
    border-radius: 5px;
}
#search-button:hover {
    cursor: pointer;
}
.icons {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 500px;
    margin-bottom: 20px;
    text-align: center;
}
.pic {
    width: 30%;
}
.icons #left, #middle, #right {
    display: inline-block;   
}
.info {
    text-align: center;
}
.blurb {
    display: inline-block;
    text-align: center;
}
#blurb-left {
    margin-right: 10%;
}
#blurb-right {
    margin-left: 10%;
}
.blurb h2 {
    color: rgb(0, 101, 200);
}
.blurb p {
    color: gray;
    /* padding-right: 10%; */
    /* padding-left: 10%; */
}
.blurb img {
    width: 50%;
    text-align: center;
    display: inline-block;
}
.why {
    text-align: center;
}
.why h2 {
    color: rgb(20, 176, 141);
}
.why p {
    color: gray;
    max-width: 300px;
    display: inline-block;
    text-align: center;
}
footer {
    background-color: rgb(255, 120, 120);
    color: white;
    width: 100%;
    height: 28px;
}
footer p {
    margin: 1px 3px;
    font-size: 10px;
}
@media(min-width:500px){
    #middle {
        padding-right: 20%;
        padding-left: 20%;
    }
    .pic {
        width: 18%;
    }
    .blurb {
        width: 35%;
    }
    .blurb #blurb-left {
        margin-right: 2%;
    }
    .blurb #blurb-right {
        margin-left: 2%;
    }
  }
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 120, 120);
    height: 50px;
}
nav p {
    font-size: 18px;
    color: white;
    margin: 0 0;
    padding: 16px
}
nav img {
    height: 100%;
    float: left;
    padding-right: 5px;
}
button:hover {
    cursor: pointer;
}
nav a {
    position: absolute;
    right: 10px;
    top: 16px;
    font-size: 14px;
    text-decoration: none;
    color: gray;
    background-color: rgb(251,250,244);
    border: 1px solid gray;
    padding: 0 2px;
}
#results-page {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
#results-header {
    color: rgb(255, 120, 120);
    margin-bottom: 40px;
}
.result {
    width: 100%;
    max-width: 700px;
    border: 2px solid rgb(200, 200, 200);
    height: 180px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 40px;
}
.result-pic {
    width: 30%;
    height: 180px;
    background-color: blue;
    float: left;
    visibility: hidden;
    position: fixed;
}
.result-pic img {
    /* object-fit: cover; */
}
.result-info {
    height: 180px;
    width: 70%;
    background-color: rgb(255,255,255);
    float: left;
}
.result-info > * {
    margin-left: 8px;
}
.result-info h4, p, .yelp-button {
    color: gray;
}
.result-info h3 {
    color: rgb(255, 120, 120);
}
.result-info p {
    width: 100%;
}
.results-links {
    width: 100%;
    /* margin-right: auto;
    margin-left: auto; */
    text-align: center;
}
.result-info .yelp-button {
    height: 20px;
    background-color: rgb(251,250,244);
    border: 1px solid gray;
    display: inline-block;
    width: 25%;
    margin-left: 5%;
}
.result-info .details-button {
    color: white;
    background-color: rgb(255, 120, 120);
    border: none;
    height: 20px;
    width: 25%;
    display: inline-block;
    margin-right: 5%;
}
@media(min-width:500px){
    nav a {
        top: 9px;
        font-size: 26px;
    }
    .result-pic {
        position: static;
        visibility: visible;
    }
}